USE [master]
GO
/****** Object:  Database [PragueParkingSkoda]    Script Date: 2020-06-02 15:18:10 ******/
CREATE DATABASE [PragueParkingSkoda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PragueParkingSkoda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PragueParkingSkoda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PragueParkingSkoda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PragueParkingSkoda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PragueParkingSkoda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PragueParkingSkoda]
GO
/****** Object:  Table [dbo].[CarParks]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarParks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameCarPark] [varchar](50) NOT NULL,
	[Floors] [int] NOT NULL,
	[QtyParkingSpots] [int] NOT NULL,
	[LocationCarPark] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyReports]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreationDate] [date] NOT NULL,
	[CarParksID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DamageReports]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DamageReports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerFirstName] [varchar](255) NULL,
	[CustomerLastName] [varchar](255) NULL,
	[CustomerPhoneNo] [varchar](255) NULL,
	[CustomerEmail] [varchar](255) NULL,
	[DamageDescription] [varchar](500) NOT NULL,
	[TicketsID] [int] NULL,
	[ParkingSpotsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSpots]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSpots](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SpotNo] [varchar](50) NOT NULL,
	[ParkCapacity] [int] NOT NULL,
	[ParkingStatusesID] [int] NOT NULL,
	[CarParksID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingStatuses]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingStatuses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PricePerHour] [decimal](18, 0) NOT NULL,
	[VehicleTypesID] [int] NOT NULL,
	[CarParksID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [varchar](50) NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[StaffAddress] [varchar](255) NULL,
	[PhoneNo] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[BankAccount] [varchar](255) NULL,
	[ICE] [varchar](50) NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[DepartmentsID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusChanges]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusChanges](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeOfStatusChange] [datetime2](7) NULL,
	[TicketsID] [int] NOT NULL,
	[TicketStatusesID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
 CONSTRAINT [PK__StatusCh__3214EC2700CD3BA8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](50) NOT NULL,
	[RetrievalCode] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](50) NULL,
	[PID] [varchar](50) NULL,
	[EstimatedParkingTime] [decimal](18, 0) NULL,
	[Comment] [varchar](500) NULL,
	[ParkingSpotsID] [int] NOT NULL,
	[VehicleTypesID] [int] NOT NULL,
	[TicketStatusesID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketStatuses]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketStatuses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
	[ParkSize] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarParks] ON 

INSERT [dbo].[CarParks] ([ID], [NameCarPark], [Floors], [QtyParkingSpots], [LocationCarPark]) VALUES (1, N'Prague Parking', 1, 100, N'By the castle')
SET IDENTITY_INSERT [dbo].[CarParks] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [DepartmentName]) VALUES (1, N'Administration')
INSERT [dbo].[Departments] ([ID], [DepartmentName]) VALUES (3, N'Parking Valet')
INSERT [dbo].[Departments] ([ID], [DepartmentName]) VALUES (2, N'Reception')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSpots] ON 

INSERT [dbo].[ParkingSpots] ([ID], [SpotNo], [ParkCapacity], [ParkingStatusesID], [CarParksID]) VALUES (1, N'001', 0, 1, 1)
INSERT [dbo].[ParkingSpots] ([ID], [SpotNo], [ParkCapacity], [ParkingStatusesID], [CarParksID]) VALUES (2, N'002', 2, 2, 1)
INSERT [dbo].[ParkingSpots] ([ID], [SpotNo], [ParkCapacity], [ParkingStatusesID], [CarParksID]) VALUES (3, N'003', 2, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[ParkingSpots] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingStatuses] ON 

INSERT [dbo].[ParkingStatuses] ([ID], [StatusName]) VALUES (2, N'Occupied')
INSERT [dbo].[ParkingStatuses] ([ID], [StatusName]) VALUES (3, N'Under Maintenance')
INSERT [dbo].[ParkingStatuses] ([ID], [StatusName]) VALUES (1, N'Vacant')
SET IDENTITY_INSERT [dbo].[ParkingStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Prices] ON 

INSERT [dbo].[Prices] ([ID], [PricePerHour], [VehicleTypesID], [CarParksID]) VALUES (1, CAST(15 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[Prices] ([ID], [PricePerHour], [VehicleTypesID], [CarParksID]) VALUES (2, CAST(25 AS Decimal(18, 0)), 2, 1)
SET IDENTITY_INSERT [dbo].[Prices] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([ID], [PID], [FirstName], [LastName], [StaffAddress], [PhoneNo], [Email], [BankAccount], [ICE], [UserName], [UserPassword], [DepartmentsID]) VALUES (1, N'760221-1212', N'Peter', N'Longtree', N'Fudgepack upon Humber 113', N'(+420)7632512112', N'p.longtree@hotmail.com', N'Czech National Bank, 35622 23564', N'Richard Erland', N'p.longtree', N'password', 3)
INSERT [dbo].[Staff] ([ID], [PID], [FirstName], [LastName], [StaffAddress], [PhoneNo], [Email], [BankAccount], [ICE], [UserName], [UserPassword], [DepartmentsID]) VALUES (2, N'930519-2321', N'Moxie', N'Walkner', N'Fudgepack upon Humber 113', N'(+420)7632512112', N'm.walkner@yahoo.com', N'Czech National Bank, 35622 23564', N'Ray Carrillo', N'm.walkner', N'password', 3)
INSERT [dbo].[Staff] ([ID], [PID], [FirstName], [LastName], [StaffAddress], [PhoneNo], [Email], [BankAccount], [ICE], [UserName], [UserPassword], [DepartmentsID]) VALUES (3, N'681004-7391', N'Karl', N'Pilkington', N'Fudgepack upon Humber 113', N'(+420)7632512112', N'k.pilkington@gmail.com', N'Czech National Bank, 35622 23564', N'Stephen Merchant', N'k.pilkington', N'password', 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusChanges] ON 

INSERT [dbo].[StatusChanges] ([ID], [TimeOfStatusChange], [TicketsID], [TicketStatusesID], [StaffID]) VALUES (1, NULL, 12, 2, 3)
INSERT [dbo].[StatusChanges] ([ID], [TimeOfStatusChange], [TicketsID], [TicketStatusesID], [StaffID]) VALUES (2, CAST(N'2020-06-02T14:27:13.0066667' AS DateTime2), 13, 2, 3)
SET IDENTITY_INSERT [dbo].[StatusChanges] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([ID], [RegNo], [RetrievalCode], [PhoneNo], [PID], [EstimatedParkingTime], [Comment], [ParkingSpotsID], [VehicleTypesID], [TicketStatusesID]) VALUES (5, N'TRY003', N'LF8VF39JC', N'PHONE', N'PID', CAST(0 AS Decimal(18, 0)), N'Third try', 10, 2, 1)
INSERT [dbo].[Tickets] ([ID], [RegNo], [RetrievalCode], [PhoneNo], [PID], [EstimatedParkingTime], [Comment], [ParkingSpotsID], [VehicleTypesID], [TicketStatusesID]) VALUES (7, N'TRY005MC', N'Q38F9834V', NULL, NULL, CAST(0 AS Decimal(18, 0)), NULL, 5, 1, 1)
INSERT [dbo].[Tickets] ([ID], [RegNo], [RetrievalCode], [PhoneNo], [PID], [EstimatedParkingTime], [Comment], [ParkingSpotsID], [VehicleTypesID], [TicketStatusesID]) VALUES (9, N'TRY006MC', N'DS87SD8723', NULL, NULL, CAST(0 AS Decimal(18, 0)), NULL, 6, 1, 1)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketStatuses] ON 

INSERT [dbo].[TicketStatuses] ([ID], [StatusName]) VALUES (1, N'Ticket Created')
INSERT [dbo].[TicketStatuses] ([ID], [StatusName]) VALUES (2, N'Park Pending')
INSERT [dbo].[TicketStatuses] ([ID], [StatusName]) VALUES (3, N'Park Accepted')
SET IDENTITY_INSERT [dbo].[TicketStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([ID], [TypeName], [ParkSize]) VALUES (1, N'Motorcycle', 1)
INSERT [dbo].[VehicleTypes] ([ID], [TypeName], [ParkSize]) VALUES (2, N'Car', 2)
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CarParks__8B0C2AB71A0647AC]    Script Date: 2020-06-02 15:18:10 ******/
ALTER TABLE [dbo].[CarParks] ADD UNIQUE NONCLUSTERED 
(
	[NameCarPark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC34449818A4]    Script Date: 2020-06-02 15:18:10 ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ParkingS__05E7698A2E80D5B4]    Script Date: 2020-06-02 15:18:10 ******/
ALTER TABLE [dbo].[ParkingStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Prices__E7AA97C5EA7CF2FC]    Script Date: 2020-06-02 15:18:10 ******/
ALTER TABLE [dbo].[Prices] ADD UNIQUE NONCLUSTERED 
(
	[PricePerHour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TicketSt__05E7698A236BEF2E]    Script Date: 2020-06-02 15:18:10 ******/
ALTER TABLE [dbo].[TicketStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VehicleT__D4E7DFA8C32F2F28]    Script Date: 2020-06-02 15:18:10 ******/
ALTER TABLE [dbo].[VehicleTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StatusChanges] ADD  CONSTRAINT [DF__StatusCha__TimeO__619B8048]  DEFAULT (getdate()) FOR [TimeOfStatusChange]
GO
ALTER TABLE [dbo].[DailyReports]  WITH CHECK ADD FOREIGN KEY([CarParksID])
REFERENCES [dbo].[CarParks] ([ID])
GO
ALTER TABLE [dbo].[DamageReports]  WITH CHECK ADD FOREIGN KEY([ParkingSpotsID])
REFERENCES [dbo].[ParkingSpots] ([ID])
GO
ALTER TABLE [dbo].[DamageReports]  WITH CHECK ADD FOREIGN KEY([TicketsID])
REFERENCES [dbo].[Tickets] ([ID])
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD FOREIGN KEY([CarParksID])
REFERENCES [dbo].[CarParks] ([ID])
GO
ALTER TABLE [dbo].[ParkingSpots]  WITH CHECK ADD FOREIGN KEY([ParkingStatusesID])
REFERENCES [dbo].[ParkingStatuses] ([ID])
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD FOREIGN KEY([CarParksID])
REFERENCES [dbo].[CarParks] ([ID])
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD FOREIGN KEY([VehicleTypesID])
REFERENCES [dbo].[VehicleTypes] ([ID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([DepartmentsID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[StatusChanges]  WITH CHECK ADD  CONSTRAINT [FK__StatusCha__Staff__46E78A0C] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([ID])
GO
ALTER TABLE [dbo].[StatusChanges] CHECK CONSTRAINT [FK__StatusCha__Staff__46E78A0C]
GO
ALTER TABLE [dbo].[StatusChanges]  WITH CHECK ADD  CONSTRAINT [FK__StatusCha__Ticke__47DBAE45] FOREIGN KEY([TicketsID])
REFERENCES [dbo].[Tickets] ([ID])
GO
ALTER TABLE [dbo].[StatusChanges] CHECK CONSTRAINT [FK__StatusCha__Ticke__47DBAE45]
GO
ALTER TABLE [dbo].[StatusChanges]  WITH CHECK ADD  CONSTRAINT [FK__StatusCha__Ticke__48CFD27E] FOREIGN KEY([TicketStatusesID])
REFERENCES [dbo].[TicketStatuses] ([ID])
GO
ALTER TABLE [dbo].[StatusChanges] CHECK CONSTRAINT [FK__StatusCha__Ticke__48CFD27E]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ParkingSpotsID])
REFERENCES [dbo].[ParkingSpots] ([ID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([TicketStatusesID])
REFERENCES [dbo].[TicketStatuses] ([ID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([VehicleTypesID])
REFERENCES [dbo].[VehicleTypes] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[usp_NewTicket_Check]    Script Date: 2020-06-02 15:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_NewTicket_Check] 
@RegNo VARCHAR(50), 
@RetrievalCode VARCHAR(50), 
@PhoneNo VARCHAR(50), 
@PID VARCHAR(50), 
@EstimatedParkingTime DECIMAL(18,0), 
@Comment VARCHAR(500), 
@ParkingSpotsID INT, 
@VehicleTypesID INT, 
@TicketStatusesID INT,
@StaffID INT
AS
	BEGIN
		DECLARE
		@TicketsID INT,
		@VehicleParkSize INT,	--Fordonets storlek
		@PSpotCapacity INT		--ParkeringsKapacitet

		SELECT @VehicleParkSize = ParkSize	
		FROM VehicleTypes
		WHERE ID = @VehicleTypesID

		SELECT @PSpotCapacity = ParkCapacity
		FROM ParkingSpots
		WHERE ID = @ParkingSpotsID

		BEGIN TRANSACTION SubtractParkCapacity WITH MARK 
			IF (@PSpotCapacity < @VehicleParkSize)
				BEGIN
					PRINT 'Parking Spot`s capacity is smaller than Vehicle Type`s park size
					'
					ROLLBACK
				END
			ELSE
				BEGIN TRY
					INSERT INTO TICKETS
					VALUES(@RegNo, @RetrievalCode, @PhoneNo, @PID, @EstimatedParkingTime, @Comment, @ParkingSpotsID, @VehicleTypesID, @TicketStatusesID)
					SELECT @TicketsID = SCOPE_IDENTITY()

					--usp på denna?
					--Minska på PSpotCapacity
					SET @PSpotCapacity = @PSpotCapacity - @VehicleParkSize

					--Uppdatera ParkingSpots
					UPDATE ParkingSpots
					SET ParkCapacity = @PSpotCapacity
					WHERE ID = @ParkingSpotsID

					--Om kapacitet är 0
					IF (@PSpotCapacity = 0)
						BEGIN
							UPDATE ParkingSpots
							SET ParkingStatusesID = 2 -- 2 = 'Occupied'
							WHERE ID = @ParkingSpotsID
						END
					--Till hit

					--usp?
					INSERT INTO StatusChanges(TicketsID, StaffID, TicketStatusesID)
					VALUES(@TicketsID, @StaffID, @TicketStatusesID)

					SET @TicketStatusesID = @TicketStatusesID + 1

					INSERT INTO StatusChanges(TicketsID, StaffID, TicketStatusesID)
					VALUES(@TicketsID, @StaffID, @TicketStatusesID)

				END TRY
				BEGIN CATCH 
					ROLLBACK
				END CATCH

		COMMIT TRANSACTION SubtractParkCapacity
	END
GO
USE [master]
GO
